* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --messages-color: #008F8C;
  --text-input-field: #E9ECEF;
  --primary-color: #12b886;
  --light-color: #F0EDE7;
  --black: #0B3140;
  --secondary-color: #C9EAD7;
  --sm: 14px;
  --md: 16px;
  --lg: 18px
}

