@import './vars';

.FavoriteContent {
  display: flex;
  margin: 0 auto;
  .FavoriteContent-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 180px;
    max-width: 250px;
    height: 190px;
    margin: 20px 10px 15px;
    padding: 0 15px;
    background-color: var(--primary-color);
    border-radius: 15px;
    .top-section{
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__addFav {
        width: 42px;
        height: 42px;
        margin-top: 20px;
        border-radius: 150px;
        background: var(--primary-color);
        box-shadow:  4px 4px 9px #0c7958,
                    -4px -4px 9px #18f7b4;
        font-size: 16px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        &:hover {
          background: radial-gradient(circle, hsla(162, 82%, 40%, 1) 0%, hsla(161, 71%, 35%, 1) 64%, hsla(162, 82%, 40%, 1) 82%);
        }
        .brokenHeart {
          color: var(--light-color);
          font-size: 25px;
        }
      }
      &__city {
        padding-top: 10px;
        font-size: 20px;
        font-weight: 500;
        line-height: 18px;
        color: var(--light-color);
      }
    }
    &__temp{
      padding: 15px 0;
      font-size: 53px;
      font-weight: bold;
      line-height: 63px;
      color: var(--light-color);
      span {
        font-size: 26px;
        font-weight: 300;
        vertical-align: text-top;
        color: var(--light-color);
      }
    }
  }
}

