h2 {
  margin-left: 20px;
  color: var(--primary-color);
}

.FavoritesContainer {
  display: flex;
  height: auto;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}